


.container {
    position: relative;
    /* min-width: 800px;
    min-height: 480px; */
    width: 100%;
    height:100%;
    padding: 0px;
  }
  
  .frame {
    position:relative;
    /* min-width: 800px;
    min-height: 480px; */
    width: 100%;
    height: 100vh;
    background-color: aqua;
    background-image: url('../resources/sun.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    overflow: hidden;
  }
  
.title {
    color: #999999;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 5px #999999;
    text-transform: uppercase;
}

  .topleft {
    position: absolute;
    top: 32px;
    left: 48px;
  }


  .bottomright {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
  